html {
  background-color: #acf;
}
#isi p {
  color: #810;
  text-align: justify;
  width: 600px;
}

.first {
  font-size: xx-large;
}

.btn {
  background-color: #35b;
  color: #cde;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: small;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
}

.btn:hover {
  background-color: #46c;
  color: #fff;
  transform: rotate(6deg);
}

.box {
  border-width: 1px;
  border-color: #f33;
  border-style: solid;
  padding: 20px;
  width: 558px;
}

#menu {
  background-color: #eee;
  padding: 20px;
  border-radius: 4px;
  display: inline-block;
}


