body.light { background: #fff; color: #000; }
body.dark { background: #1e1e1e; color: #fff; }

body.small { font-size: 14px; }
body.medium { font-size: 16px; }
body.large { font-size: 18px; }

#content {
  margin-top: 20px;
}

#content .item {
  border: 1px solid #c33;
  border-radius: 6px;
  padding: 20px 10px;
  background-color: #696;
}

#content.list .item {
  display: block;
  margin: 5px 0;
}

#content.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  text-align: center;
}